.droplist{
    position: fixed;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    align-items: center;
    min-height: 300px;
    margin: 10px;
    width: calc(100% - 20px);
    background-color: #232323;
    color: white;
    /*border: 15px solid black; */
}

.overlay-info{
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.div-button{
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 10px;
}

.place-pallete{
    height: calc(10vw - 15.4px);
}

.info-button{
    width: 100%;
    border: 2px solid white;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.list-info{ 
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  
  }
