# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# dependencies (react)
/web_app/frontend/node_modules
/web_app/frontend/build
/web_app/frontend/.pnp
/web_app/frontend/.pnp.js

# testing (react)
/web_app/frontend/coverage

# misc (react)
/web_app/frontend/.DS_Store
/web_app/frontend/.env.local
/web_app/frontend/.env.development.local
/web_app/frontend/.env.test.local
/web_app/frontend/.env.production.local

/web_app/frontend/npm-debug.log*
/web_app/frontend/yarn-debug.log*
/web_app/frontend/yarn-error.log*

.DS_Store

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/
/web_app/data_apis/creds.py
/web_app/staticfiles/
web_app/node_modules/.package-lock.json
web_app/node_modules/.bin/node-which
web_app/node_modules/.bin/requirements
web_app/node_modules/.bin/semver
web_app/node_modules/ajv/.runkit_example.js
web_app/node_modules/ajv/LICENSE
web_app/node_modules/ajv/package.json
web_app/node_modules/ajv/README.md
web_app/node_modules/ansi-regex/index.d.ts
web_app/node_modules/ansi-regex/index.js
web_app/node_modules/ansi-regex/license
web_app/node_modules/ansi-regex/package.json
web_app/node_modules/ansi-regex/readme.md
web_app/node_modules/ansi-styles/index.d.ts
web_app/node_modules/ansi-styles/index.js
web_app/node_modules/ansi-styles/license
web_app/node_modules/ansi-styles/package.json
web_app/node_modules/ansi-styles/readme.md
web_app/node_modules/astral-regex/index.d.ts
web_app/node_modules/astral-regex/index.js
web_app/node_modules/astral-regex/license
web_app/node_modules/astral-regex/package.json
web_app/node_modules/astral-regex/readme.md
web_app/node_modules/bin-version/index.d.ts
web_app/node_modules/bin-version/index.js
web_app/node_modules/bin-version/license
web_app/node_modules/bin-version/package.json
web_app/node_modules/bin-version/readme.md
web_app/node_modules/chalk/index.d.ts
web_app/node_modules/chalk/license
web_app/node_modules/chalk/package.json
web_app/node_modules/chalk/readme.md
web_app/node_modules/chalk/source/index.js
web_app/node_modules/chalk/source/templates.js
web_app/node_modules/chalk/source/util.js
web_app/node_modules/cliui/CHANGELOG.md
web_app/node_modules/cliui/index.mjs
web_app/node_modules/cliui/LICENSE.txt
web_app/node_modules/cliui/package.json
web_app/node_modules/cliui/README.md
web_app/node_modules/cliui/build/index.cjs
web_app/node_modules/color-convert/CHANGELOG.md
web_app/node_modules/color-convert/conversions.js
web_app/node_modules/color-convert/index.js
web_app/node_modules/color-convert/LICENSE
web_app/node_modules/color-convert/package.json
web_app/node_modules/color-convert/README.md
web_app/node_modules/color-convert/route.js
web_app/node_modules/color-name/index.js
web_app/node_modules/color-name/LICENSE
web_app/node_modules/color-name/package.json
web_app/node_modules/color-name/README.md
web_app/node_modules/cross-spawn/CHANGELOG.md
web_app/node_modules/cross-spawn/index.js
web_app/node_modules/cross-spawn/LICENSE
web_app/node_modules/cross-spawn/package.json
web_app/node_modules/cross-spawn/README.md
web_app/node_modules/emoji-regex/index.d.ts
web_app/node_modules/emoji-regex/index.js
web_app/node_modules/emoji-regex/LICENSE-MIT.txt
web_app/node_modules/emoji-regex/package.json
web_app/node_modules/emoji-regex/README.md
web_app/node_modules/emoji-regex/text.js
web_app/node_modules/emoji-regex/es2015/index.js
web_app/node_modules/emoji-regex/es2015/text.js
web_app/node_modules/escalade/index.d.ts
web_app/node_modules/escalade/license
web_app/node_modules/escalade/package.json
web_app/node_modules/escalade/readme.md
web_app/node_modules/escalade/sync/index.d.ts
web_app/node_modules/escalade/sync/index.js
web_app/node_modules/escalade/sync/index.mjs
web_app/node_modules/execa/index.d.ts
web_app/node_modules/execa/index.js
web_app/node_modules/execa/license
web_app/node_modules/execa/package.json
web_app/node_modules/execa/readme.md
web_app/node_modules/fast-deep-equal/index.d.ts
web_app/node_modules/fast-deep-equal/index.js
web_app/node_modules/fast-deep-equal/LICENSE
web_app/node_modules/fast-deep-equal/package.json
web_app/node_modules/fast-deep-equal/react.d.ts
web_app/node_modules/fast-deep-equal/react.js
web_app/node_modules/fast-deep-equal/README.md
web_app/node_modules/fast-deep-equal/es6/index.d.ts
web_app/node_modules/fast-deep-equal/es6/index.js
web_app/node_modules/fast-deep-equal/es6/react.d.ts
web_app/node_modules/fast-deep-equal/es6/react.js
web_app/node_modules/find-versions/index.d.ts
web_app/node_modules/find-versions/index.js
web_app/node_modules/find-versions/license
web_app/node_modules/find-versions/package.json
web_app/node_modules/find-versions/readme.md
web_app/node_modules/get-caller-file/index.d.ts
web_app/node_modules/get-caller-file/index.js
web_app/node_modules/get-caller-file/index.js.map
web_app/node_modules/get-caller-file/LICENSE.md
web_app/node_modules/get-caller-file/package.json
web_app/node_modules/get-caller-file/README.md
web_app/node_modules/get-stream/buffer-stream.js
web_app/node_modules/get-stream/index.d.ts
web_app/node_modules/get-stream/index.js
web_app/node_modules/get-stream/license
web_app/node_modules/get-stream/package.json
web_app/node_modules/get-stream/readme.md
web_app/node_modules/has-flag/index.d.ts
web_app/node_modules/has-flag/index.js
web_app/node_modules/has-flag/license
web_app/node_modules/has-flag/package.json
web_app/node_modules/has-flag/readme.md
web_app/node_modules/human-signals/CHANGELOG.md
web_app/node_modules/human-signals/LICENSE
web_app/node_modules/human-signals/package.json
web_app/node_modules/human-signals/README.md
web_app/node_modules/human-signals/build/src/core.js
web_app/node_modules/human-signals/build/src/core.js.map
web_app/node_modules/human-signals/build/src/main.d.ts
web_app/node_modules/human-signals/build/src/main.js
web_app/node_modules/human-signals/build/src/main.js.map
web_app/node_modules/human-signals/build/src/realtime.js
web_app/node_modules/human-signals/build/src/realtime.js.map
web_app/node_modules/human-signals/build/src/signals.js
web_app/node_modules/human-signals/build/src/signals.js.map
web_app/node_modules/is-fullwidth-code-point/index.d.ts
web_app/node_modules/is-fullwidth-code-point/index.js
web_app/node_modules/is-fullwidth-code-point/license
web_app/node_modules/is-fullwidth-code-point/package.json
web_app/node_modules/is-fullwidth-code-point/readme.md
web_app/node_modules/is-stream/index.d.ts
web_app/node_modules/is-stream/index.js
web_app/node_modules/is-stream/license
web_app/node_modules/is-stream/package.json
web_app/node_modules/is-stream/readme.md
web_app/node_modules/is-unicode-supported/index.d.ts
web_app/node_modules/is-unicode-supported/index.js
web_app/node_modules/is-unicode-supported/license
web_app/node_modules/is-unicode-supported/package.json
web_app/node_modules/is-unicode-supported/readme.md
web_app/node_modules/isexe/.npmignore
web_app/node_modules/isexe/index.js
web_app/node_modules/isexe/LICENSE
web_app/node_modules/isexe/mode.js
web_app/node_modules/isexe/package.json
web_app/node_modules/isexe/README.md
web_app/node_modules/isexe/windows.js
web_app/node_modules/isexe/test/basic.js
web_app/node_modules/json-schema-traverse/.eslintrc.yml
web_app/node_modules/json-schema-traverse/index.d.ts
web_app/node_modules/json-schema-traverse/index.js
web_app/node_modules/json-schema-traverse/LICENSE
web_app/node_modules/json-schema-traverse/package.json
web_app/node_modules/json-schema-traverse/README.md
web_app/node_modules/json-schema-traverse/.github/FUNDING.yml
web_app/node_modules/json-schema-traverse/.github/workflows/build.yml
web_app/node_modules/json-schema-traverse/.github/workflows/publish.yml
web_app/node_modules/json-schema-traverse/spec/.eslintrc.yml
web_app/node_modules/json-schema-traverse/spec/index.spec.js
web_app/node_modules/json-schema-traverse/spec/fixtures/schema.js
web_app/node_modules/lodash.truncate/index.js
web_app/node_modules/lodash.truncate/LICENSE
web_app/node_modules/lodash.truncate/package.json
web_app/node_modules/lodash.truncate/README.md
web_app/node_modules/log-symbols/browser.js
web_app/node_modules/log-symbols/index.d.ts
web_app/node_modules/log-symbols/index.js
web_app/node_modules/log-symbols/license
web_app/node_modules/log-symbols/package.json
web_app/node_modules/log-symbols/readme.md
web_app/node_modules/lru-cache/index.js
web_app/node_modules/lru-cache/LICENSE
web_app/node_modules/lru-cache/package.json
web_app/node_modules/lru-cache/README.md
web_app/node_modules/merge-stream/index.js
web_app/node_modules/merge-stream/LICENSE
web_app/node_modules/merge-stream/package.json
web_app/node_modules/merge-stream/README.md
web_app/node_modules/mimic-fn/index.d.ts
web_app/node_modules/mimic-fn/index.js
web_app/node_modules/mimic-fn/license
web_app/node_modules/mimic-fn/package.json
web_app/node_modules/mimic-fn/readme.md
web_app/node_modules/npm-run-path/index.d.ts
web_app/node_modules/npm-run-path/index.js
web_app/node_modules/npm-run-path/license
web_app/node_modules/npm-run-path/package.json
web_app/node_modules/npm-run-path/readme.md
web_app/node_modules/onetime/index.d.ts
web_app/node_modules/onetime/index.js
web_app/node_modules/onetime/license
web_app/node_modules/onetime/package.json
web_app/node_modules/onetime/readme.md
web_app/node_modules/path-key/index.d.ts
web_app/node_modules/path-key/index.js
web_app/node_modules/path-key/license
web_app/node_modules/path-key/package.json
web_app/node_modules/path-key/readme.md
web_app/node_modules/punycode/LICENSE-MIT.txt
web_app/node_modules/punycode/package.json
web_app/node_modules/punycode/punycode.es6.js
web_app/node_modules/punycode/punycode.js
web_app/node_modules/punycode/README.md
web_app/node_modules/require-directory/.jshintrc
web_app/node_modules/require-directory/.npmignore
web_app/node_modules/require-directory/.travis.yml
web_app/node_modules/require-directory/index.js
web_app/node_modules/require-directory/LICENSE
web_app/node_modules/require-directory/package.json
web_app/node_modules/require-directory/README.markdown
web_app/node_modules/require-from-string/index.js
web_app/node_modules/require-from-string/license
web_app/node_modules/require-from-string/package.json
web_app/node_modules/require-from-string/readme.md
web_app/node_modules/requirements/LICENSE
web_app/node_modules/requirements/package.json
web_app/node_modules/requirements/README.md
web_app/node_modules/requirements/bin/requirements.js
web_app/node_modules/semver/index.js
web_app/node_modules/semver/LICENSE
web_app/node_modules/semver/package.json
web_app/node_modules/semver/preload.js
web_app/node_modules/semver/range.bnf
web_app/node_modules/semver/README.md
web_app/node_modules/semver/bin/semver.js
web_app/node_modules/semver/classes/comparator.js
web_app/node_modules/semver/classes/index.js
web_app/node_modules/semver/classes/range.js
web_app/node_modules/semver/classes/semver.js
web_app/node_modules/semver/functions/clean.js
web_app/node_modules/semver/functions/cmp.js
web_app/node_modules/semver/functions/coerce.js
web_app/node_modules/semver/functions/compare-build.js
web_app/node_modules/semver/functions/compare-loose.js
web_app/node_modules/semver/functions/compare.js
web_app/node_modules/semver/functions/diff.js
web_app/node_modules/semver/functions/eq.js
web_app/node_modules/semver/functions/gt.js
web_app/node_modules/semver/functions/gte.js
web_app/node_modules/semver/functions/inc.js
web_app/node_modules/semver/functions/lt.js
web_app/node_modules/semver/functions/lte.js
web_app/node_modules/semver/functions/major.js
web_app/node_modules/semver/functions/minor.js
web_app/node_modules/semver/functions/neq.js
web_app/node_modules/semver/functions/parse.js
web_app/node_modules/semver/functions/patch.js
web_app/node_modules/semver/functions/prerelease.js
web_app/node_modules/semver/functions/rcompare.js
web_app/node_modules/semver/functions/rsort.js
web_app/node_modules/semver/functions/satisfies.js
web_app/node_modules/semver/functions/sort.js
web_app/node_modules/semver/functions/valid.js
web_app/node_modules/semver/internal/constants.js
web_app/node_modules/semver/internal/debug.js
web_app/node_modules/semver/internal/identifiers.js
web_app/node_modules/semver/internal/parse-options.js
web_app/node_modules/semver/internal/re.js
web_app/node_modules/semver/ranges/gtr.js
web_app/node_modules/semver/ranges/intersects.js
web_app/node_modules/semver/ranges/ltr.js
web_app/node_modules/semver/ranges/max-satisfying.js
web_app/node_modules/semver/ranges/min-satisfying.js
web_app/node_modules/semver/ranges/min-version.js
web_app/node_modules/semver/ranges/outside.js
web_app/node_modules/semver/ranges/simplify.js
web_app/node_modules/semver/ranges/subset.js
web_app/node_modules/semver/ranges/to-comparators.js
web_app/node_modules/semver/ranges/valid.js
web_app/node_modules/semver-regex/index.d.ts
web_app/node_modules/semver-regex/index.js
web_app/node_modules/semver-regex/license
web_app/node_modules/semver-regex/package.json
web_app/node_modules/semver-regex/readme.md
web_app/node_modules/shebang-command/index.js
web_app/node_modules/shebang-command/license
web_app/node_modules/shebang-command/package.json
web_app/node_modules/shebang-command/readme.md
web_app/node_modules/shebang-regex/index.d.ts
web_app/node_modules/shebang-regex/index.js
web_app/node_modules/shebang-regex/license
web_app/node_modules/shebang-regex/package.json
web_app/node_modules/shebang-regex/readme.md
web_app/node_modules/signal-exit/index.js
web_app/node_modules/signal-exit/LICENSE.txt
web_app/node_modules/signal-exit/package.json
web_app/node_modules/signal-exit/README.md
web_app/node_modules/signal-exit/signals.js
web_app/node_modules/slice-ansi/index.js
web_app/node_modules/slice-ansi/license
web_app/node_modules/slice-ansi/package.json
web_app/node_modules/slice-ansi/readme.md
web_app/node_modules/string-width/index.d.ts
web_app/node_modules/string-width/index.js
web_app/node_modules/string-width/license
web_app/node_modules/string-width/package.json
web_app/node_modules/string-width/readme.md
web_app/node_modules/strip-ansi/index.d.ts
web_app/node_modules/strip-ansi/index.js
web_app/node_modules/strip-ansi/license
web_app/node_modules/strip-ansi/package.json
web_app/node_modules/strip-ansi/readme.md
web_app/node_modules/strip-final-newline/index.js
web_app/node_modules/strip-final-newline/license
web_app/node_modules/strip-final-newline/package.json
web_app/node_modules/strip-final-newline/readme.md
web_app/node_modules/supports-color/browser.js
web_app/node_modules/supports-color/index.js
web_app/node_modules/supports-color/license
web_app/node_modules/supports-color/package.json
web_app/node_modules/supports-color/readme.md
web_app/node_modules/table/LICENSE
web_app/node_modules/table/package.json
web_app/node_modules/table/README.md
web_app/node_modules/uri-js/LICENSE
web_app/node_modules/uri-js/package.json
web_app/node_modules/uri-js/README.md
web_app/node_modules/uri-js/yarn.lock
web_app/node_modules/which/CHANGELOG.md
web_app/node_modules/which/LICENSE
web_app/node_modules/which/package.json
web_app/node_modules/which/README.md
web_app/node_modules/which/which.js
web_app/node_modules/which/bin/node-which
web_app/node_modules/wrap-ansi/index.js
web_app/node_modules/wrap-ansi/license
web_app/node_modules/wrap-ansi/package.json
web_app/node_modules/wrap-ansi/readme.md
web_app/node_modules/y18n/CHANGELOG.md
web_app/node_modules/y18n/index.mjs
web_app/node_modules/y18n/LICENSE
web_app/node_modules/y18n/package.json
web_app/node_modules/y18n/README.md
web_app/node_modules/y18n/build/index.cjs
web_app/node_modules/yallist/iterator.js
web_app/node_modules/yallist/LICENSE
web_app/node_modules/yallist/package.json
web_app/node_modules/yallist/README.md
web_app/node_modules/yallist/yallist.js
web_app/node_modules/yargs/browser.mjs
web_app/node_modules/yargs/CHANGELOG.md
web_app/node_modules/yargs/index.cjs
web_app/node_modules/yargs/index.mjs
web_app/node_modules/yargs/LICENSE
web_app/node_modules/yargs/package.json
web_app/node_modules/yargs/README.md
web_app/node_modules/yargs/yargs
web_app/node_modules/yargs/build/index.cjs
web_app/node_modules/yargs/helpers/helpers.mjs
web_app/node_modules/yargs/helpers/index.js
web_app/node_modules/yargs/helpers/package.json
web_app/node_modules/yargs/locales/be.json
web_app/node_modules/yargs/locales/de.json
web_app/node_modules/yargs/locales/en.json
web_app/node_modules/yargs/locales/es.json
web_app/node_modules/yargs/locales/fi.json
web_app/node_modules/yargs/locales/fr.json
web_app/node_modules/yargs/locales/hi.json
web_app/node_modules/yargs/locales/hu.json
web_app/node_modules/yargs/locales/id.json
web_app/node_modules/yargs/locales/it.json
web_app/node_modules/yargs/locales/ja.json
web_app/node_modules/yargs/locales/ko.json
web_app/node_modules/yargs/locales/nb.json
web_app/node_modules/yargs/locales/nl.json
web_app/node_modules/yargs/locales/nn.json
web_app/node_modules/yargs/locales/pirate.json
web_app/node_modules/yargs/locales/pl.json
web_app/node_modules/yargs/locales/pt_BR.json
web_app/node_modules/yargs/locales/pt.json
web_app/node_modules/yargs/locales/ru.json
web_app/node_modules/yargs/locales/th.json
web_app/node_modules/yargs/locales/tr.json
web_app/node_modules/yargs/locales/zh_CN.json
web_app/node_modules/yargs/locales/zh_TW.json
web_app/node_modules/yargs-parser/browser.js
web_app/node_modules/yargs-parser/CHANGELOG.md
web_app/node_modules/yargs-parser/LICENSE.txt
web_app/node_modules/yargs-parser/package.json
web_app/node_modules/yargs-parser/README.md
web_app/node_modules/yargs-parser/build/index.cjs
