.app-container{
    height: 100%;
}

.header-container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    background-color: white;
    display: flex;
    flex-direction: row; /* The default value is "row", so you can omit this line */
    align-items: center;
    z-index: 2;
    padding:15px
}

.main-application-container{
    height: 100%;
    position: relative;

}

.main-body-container{
    height: 100%;
}

.main-footer-container{
    position: fixed; /* fix the position to the bottom of the screen */
    bottom: 0; /* set it to the bottom */
    width: 100%; /* have it span the full width of the viewport */
    height: 20%; /* set the height to 40% of the viewport height z-index: 1;*/
    
}