.app-container{
    height: 100%;
}

.header-container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: black;
    z-index: 2;
}

.main-application-container{
    height: 100%;
    position: relative;

}

.main-body-container{
    height: 100%;
}

.main-footer-container{
    position: fixed; /* fix the position to the bottom of the screen */
    bottom: 0; /* set it to the bottom */
    width: 100%; /* have it span the full width of the viewport */
    height: 20%; /* set the height to 40% of the viewport height */
    z-index: 1;
}

.droplist{
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    width: 20%;
    height: 50%;
    z-index: 2;
}