/* Common styles for about and contact sections */
.about-this-web-container {
    color:white;
    background-color: #353535;
    position: relative;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    overflow-y: auto;
    padding: 1rem;
    height: calc(100vh - 60px);
}


.contact-container {
    color:white;
    background-color: #353535;
    position: relative;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    overflow-y: auto;
    padding: 1rem;
    height: calc(100vh - 60px);
}

/* Additional styles for the how-to-use section */
.how-to-use {
    margin-bottom: 2rem;  /* Additional margin */
}

/* Title and subtitle styles */
.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 0rem;
}

/* Paragraph styles */
p {
    font-size: 16px;
    margin-bottom: 1rem;
}

.contact-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-info {
    color: white;
    font-size: 14px;
    margin:0px;
  }
  
  .contact-methods {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .general-support,
  .support,
  .press {
    width: 100%; /* Adjust the width as needed */
    margin-bottom: 20px;
  }
  
  h2 {
    color: #ffffff; 
    font-size: 18px; 
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    margin: 0;
  }
  