.logo-container {
  /* width: 70%;
  height: 8%; //Adjust the height as needed
  align-items: center;
  position: fixed;
  //left: 3%;
  display: flex;
  justify-content: flex-start;*/
  position: relative;
  display: flex;
  height:100%;
  width:85%;
  align-items: center;
  margin-right: 2vh;
  z-index:2;
}

.logo-image {
  position: relative;
  max-width: 100%;
  max-height: 100%;

}

