.logo-container {/* Adjust the height as needed */
  position: relative;
  display: flex;
  height:100%;
  width:85%;
  align-items: center;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
}

