/* SearchResultCSS.css */
.result-container {
  overflow: visible; 
  background-color: black;
}
.overlay-info {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
  color: white;
  font-family: "Arial", 'Pixel', monospace;
}

.info-zone-style-buyness-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-zone-style, .info-busyness-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* .overlay-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
  color: white;
  font-family: 'Pixel', monospace;
}

.info-zone-style {
  display: flex;
  justify-content: space-between; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
} */

.info-zone-style p:first-child {
  /* margin-left: 10px; 
  font-size: 20px; */
}

.info-zone-style p:last-child {
  /* margin-right: auto; 
  font-size: 20px; */
}


/* .info-busyness-tree {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-busyness-tree p {
  margin: 0;
  font-size: 16px;
} */

.info-time {
  color: orange;
  font-size: 15px;
  font-weight: bold;
}

.carousel-inner {
  display: flex;
  height: 50vh; 
}

.carousel-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  width: 500px; 
  border: 15px solid black; 
  margin-top: 10px; 
  background-position: center; 
  background-size: cover;
}

.carousel-item img {
  object-fit: cover; 
  height: 100%; 
  width: 100%; 
}

.caption-background {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 10px;
}

.border-top-left {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
