/* SearchResultCSS.css */
.result-container {
  overflow: visible; 
  background-color: black;
}
.result-info {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
  color: white;
  font-family: "Arial", 'Pixel', monospace;
}

.info-zone-style-buyness-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-zone-style, .info-busyness-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.carousel-inner {
  display: flex;
  height: 80vh; 
  /* overflow: visible; */
}

.carousel-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  width: 500px; 
  border: 15px solid black; 
  margin-top: 10px; 
  background-position: center; 
  background-size: cover;
}



.caption-background {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 10px;
}

.border-top-left {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.result-pictures{
  width:80%;
  height:50%;
}