.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 15%;
}

.hamburger-menu{
  position: relative;
  height: 80%;
  width: 80%;
}


.navigation-column {
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-header {
  cursor: pointer;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  background-color: transparent !important;
  border: 0 !important;
}

.nav-item a {
  color: white;
  text-decoration: none; /* removes underline */
  font-weight: bold; /* makes font bold */
  font-size: 1.2em; /* makes font bigger, adjust as necessary */
  font-family: "ABCSocial Medium", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.nav-item a:hover {
  color: grey; /* link color changes to grey on hover */
}

.nav-item a.active-link {
  color: #efefef3f; /* link color changes to purple when active */
}

.offcanvas-header{
  background-color: black !important;
  color: white;
}

.offcanvas-body{
  background-color: black!important;
}
.btn-close {
  filter: invert(1);
}

#offcanvasTop{
  position: fixed;
  top: 12%;
  height: 60% !important
}